    <!-- Magazine Title -->
<section class="blbw-top-bar">
  <p>Bloomberg Businessweek</p>
</section>
<section class="blbw-header">
  <h1>Inside North Korea’s Hacker Army</h1>
  <h2>The regime in Pyongyang has sent hundreds of programmers to other countries. Their mission: Make money by any means necessary. Here's what their lives are like.</h2>
  <figure class="blbw-header-img">
    <img alt="cover" src="https://mmbiz.qpic.cn/mmbiz_jpg/zj7iaGicBGSDvnbxAPJQabibzhCnkibjBF8vzwgwtF3DZ6gmYnMWVawwN1aB2KDa96ibaSyBdKSHcP5oSlGb3N4npicw/0?wx_fmt=jpeg"/>
    <figcaption class="blbw-header-cap">
      ILLUSTRATION: SIMON PRADES FOR BLOOMBERG BUSINESSWEEK
    </figcaption>
  </figure>
  <p class="blbw-byline">By Sam Kim</p>
  <p class="blbw-pubdate">February 8, 2018, 5:00 AM GMT+8</p>
</section>
