# ignore img
img/

# ignore vocab
vocab/

# ignore notebook file
*ipynb*

# ignore pycache
__pycache__/

# ignore github libraries
mstch/

# ignore macOS stuff
.DS_Store

# ignore {notes,current,vocab}.html file
notes.j2
vocab.j2

# ignore deprecated folder
deprecated/
