# ignore img
img/

# ignore notebook file
*ipynb*

# ignore pycache
__pycache__/

# ignore github libraries
mstch/

# ignore macOS stuff
.DS_Store

# ignore {notes,current}.html file
current.html
notes.html
