# ignore img
img/

# ignore notebook file
*ipynb*

# ignore pycache
__pycache__/

# ignore github libraries
mstch/

# ignore macOS stuff
.DS_Store

# ignore {notes,current,vocab}.html file
current.html
notes.html
vocab.html

# ignore deprecated folder
deprecated/
