* {
	box-sizing: border-box;
}

/* the overall frame */
.ox-dict-frame {
/*	display: flex;
	flex-direction: column;
	align-items: stretch;*/
	margin: .3rem 0rem;
	padding: 0 0;
	width: 100%;
	/*border: 2pt pink solid;*/
}

/* dict name */
.ox-dict-band {
	background-color: #01356F;
	color: #FFF;
	padding: 0.3rem;
	font-size: 12pt;
}

/* dict content: overflow */
.ox-dict-content {
	height: 220px;
	overflow-y: scroll;
	scrollbar-color: #81A1C1;
	scrollbar-width: thin;
}

/*
**************************
******** headword ********
**************************
*/
.ox-entry {
	display: flex;
	align-items: baseline; 
	margin-left: 0.1rem;
	margin-top: 0.5rem;
}

.ox-headword {
	font-family: sans-serif;
	font-weight: 600;
	font-size: 18pt;
	color: #1A3561;
	line-height: 2rem;
}

.ox-pos {
	font-family: sans-serif;
	font-size: 9.5pt;
	font-weight: 400;
	font-style: italic;
	margin: 0 0 0 0.25rem;
}

/*
**************************
******** level svg *******
**************************
*/
.ox-level {
	margin: .3rem 0rem;
}


/*
**************************
******* pronounce ********
**************************
*/
.ox-phonetics {
	display: flex;
	align-items: center;
	font-size: 11pt;
	font-family: "Lucida Sans Unicode", sans-serif;
	color: #333333;
	margin: 0.2rem 0;
	padding: 0;
}

.phon-audio {
	display: flex;
	align-items: center;
}

.ox-phon {
	margin-left: 2px;
	letter-spacing: 1px;
}


/*
**************************
*********  sense *********
**************************
*/
.ox-sense {
	display: flex;
	align-items: flex-start;
	font-family: sans-serif;
	margin-left: 0;
	margin-top: .4rem;
}

.ox-sense-specs {
	line-height: 1.2;
}

.ox-sense-num {
	font-size: .8rem;
	background-color: #8F0610;
	background-color: #E51059;
	background-color: #C91352;
	color: #FFFFFF;
	min-width: 1.2rem;
	height: 1.2rem;
	text-align: center;
	margin-right: .3rem;
	line-height: 1.2rem;
	border-radius: 50%;
}

.ox-sensetop {
	font-weight: 600;
	color: #1A3561;
}

.ox-sense-gram {
	color: #6F6F6F;
}

.ox-sense-def {
	line-height: 1.3;
}

/*
**************************
********* synonym ********
******** see also ********
**************************
*/
.ox-synonym {
	margin: 0.5rem 0rem;
}

.ox-synonym small {
	font-family: sans-serif;
	text-transform: uppercase;
}

.ox-synonym span {
	font-family: sans-serif;
	font-weight: 600;
	color: #0069B4;
}

/*
**************************
********* example ********
**************************
*/
.ox-example {
	font-style: italic;
	font-family: sans-serif;
	font-size: 14px;
	color: #333333;
	line-height: 1.5;
	list-style-position: outside;
	padding-left: 2.5rem;
/*    border: 1pt solid blue;*/
	margin: .5rem 0rem;
}

.ox-topics {
	margin: .5rem 1.5rem;
	font-family: sans-serif;
	line-height: 1.5;
/*    border: 1pt red solid;*/
}

.prefix {
	text-transform: uppercase;
	margin-right: 5px;
}

.topic-name {
	color: #0069B4;
	font-weight: 600;
	margin-right: 5px;
}

.topic-cefr { 
	text-transform: uppercase;
	background-color: #666666;
	color: #FFFFFF;
	font-size: 1rem;
	font-weight: 600;
	border-radius: 0.25rem;
	padding: 0.1rem;  
}



.ox-extra {
	border-left: 0.2rem solid #F08B6E;
	background-color: #FADED7;
	padding: .3rem 0rem 0rem 0rem;
	margin: 0;
	font-family: sans-serif;
	font-size: 14px;
	line-height: 1.3;
}

.ox-extra-heading {
	padding:0rem 0rem 0.2rem 0.6rem;
	font-size: 13pt;
	font-weight: 600;
}

.ox-extra-cont {
	margin: 0;
	background-color: #FDF3F0;
	padding: .2rem 0rem;
}

.ox-extra-cont p {
	padding: 0rem .5rem;
	font-size: 12pt;
}

.ox-extra-dot {
	color: #6F6F6F; 
	padding: 0rem 0.25rem; 
	font-weight: 600; 
	font-size: 18px;
}

.ox-extra-col-cato {
   font-weight: 600; 
   margin-bottom: .1rem; 
   font-size: 16px; 
}

.ox-extra-cont ul {
	margin-left: 0;
	padding-left: 0;
	margin-top: .5rem;
	margin-bottom: .5rem;
	list-style-position: outside;
}

ul li {
	padding-left: 0;
	font-style: italic;
	font-size: 11pt;
	line-height: 1.5;
}
