/**
 * Styles for New Yorker articles 
 * Mimic the original as much as possible 
 */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 2px;
}

/**
 * The Header part that includes
 * title, subtitle, author, publication date,
 * column name, and so on.
 * Note h2 is also used for img caption/credit
 */

h1.h1-special {
    text-transform: uppercase;
    font-family: Optima-Regula, Palatino, Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    font-weight: normal;
    text-align: center;
    line-height: 1.5;
    padding-bottom: .6em;
    margin-bottom: 0;
}

h1.h1-normal {
    text-transform: uppercase;
    font-family: Optima-Regula, Palatino, Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    font-weight: bold;
    text-align: left;
    line-height: 1.2;
    padding-bottom: 0.4em;
}

h2.sub-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 22px;
    font-weight: normal;
    text-align: center;
    padding-bottom: 1em;
}

/* cap_text and cap_credit */
h2.caption {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: .5em;
    margin-top: .5em;
}

/* img credit */
span.credit {
    font-size: 14px; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
}

h3.column {
    text-transform: uppercase;
    font-size: 16px;
    font-variant: small-caps;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #db3334;
    text-align: center;
    padding-right: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 1em;
}

h4, h5 {
    margin: 0.5em 0;
    font-weight: 600;
    text-align: center;
}

h4.author {
    font-family: sans-serif;
    font-size: 15px;
}

h5.timestamp {
    font-family: sans-serif;
    font-size: 12px;
}

/**
 * Other parts of the article
 */
img {
    display: block;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.biblio {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
}

.first-para::first-letter {
    font-family: sans-serif;
    float: left;
    font-size: 310%;
    line-height: 80%;
    padding-top: 5px;
}

/** 
 * Drop-cap of the first letter of
 * the first paragraph of the artcile 
 * or a section
 */

.drop-cap {
    font-family: sans-serif;
    float: left;
    font-size: 340%;
    line-height: 80%;
    padding-top: 6pt;
}

.quotes {
    font-size: 11pt; 
    text-align: left; 
    line-height: 1.4; 
    padding-left: 1em;
    padding-right: 1.5em;
}

.ny-hr {
    border: none;
    color: #ccc;
    height: 0.1px;
}

u {
    text-decoration: underline;
}