<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <link href="style/ft.css" rel="stylesheet"/>
    <title>FT</title>
  </head>
  <body>
    <section class="container">
      <section class="sec">
	<span>Coronavirus pandemic</span>
      </section>
      <section class="heading-1">
	<span>
	  Emmanuel Macron tests positive for coronavirus
	</span>
      </section>
      <section class="heading-2">
	<span>France’s president, prime minister Jean Castex and Spanish PM to self-isolate for seven days</span>
      </section>
    </section>
  </body>
</html>
