{% extends 'new-yorker-base.html' %}
{% import 'notes.html' as notes %}
{% block content %}
{% include 'header.html' %}
<p>
<span class="cap">L</span>ast September, a student at Beijing’s élite Tsinghua University was caught on video riding his bike at night and working on a laptop propped on his handlebars. The footage circulated on Chinese social media, and shortly afterward more photos of other Tsinghua students—slumped at cafeteria tables, buried under stacks of textbooks—appeared online. Commentators proceeded to roast the insane work ethic on display and tag the students as part of a rising generation of “involuted” young people. The cyclist became a meme—“Tsinghua’s Involuted King”—and a flurry of blog posts on Chinese social media criticized the “involution of élite education,” while an article published by the state-run Xinhua News Agency dissected the “involution of college students.” By the time winter arrived, the idea of involution had spread to all corners of Chinese society.
</p>
{{ notes.wiki_plaintext() }}
<p>
The American anthropologist Clifford Geertz helped popularize the term in his book “Agricultural Involution,” from 1963, in which he analyzed Java’s economic response to population growth and Dutch colonial rule. Geertz’s theory of involution holds that a greater input (an increase in labor) does not yield proportional output (more crops and innovation). Instead, a society involutes. The Chinese term for involution, neijuan, which is made up of the <small>characters</small> for “inside” and “rolling,” suggests a process that curls inward, ensnaring its participants within what the anthropologist Xiang Biao has described as an “endless cycle of self-flagellation.” Involution is “the experience of being locked in competition that one ultimately knows is meaningless,” Biao told me. It is acceleration without a destination, progress without a purpose, Sisyphus spinning the wheels of a perpetual-motion Peloton.
</p>
{{ notes.footnote(nl=4) }}

<sup>❉</sup>
<span style="color: #B48EAD;">1</span>
<p>
The concept of China as a society beset by involution gained traction, last spring, on Douban, a social-media site popular among college students, in a discussion thread called “985 trash.” The name refers to Project 985—a consortium of élite Chinese universities similar to the Ivy League—and the shared reality that many students at these institutions feel like “trash”: anxious, stressed, overworked, trapped in a status race. The thread grew as participants bemoaned the involuted job market (finance or data analytics—which path is more involuted?), criticized involuted entrance examinations (taking and failing the C.P.A. exam five times), and lamented the involution of the post-pandemic economy. “Young people can only see one way that they can make claims for their dignity and be recognized as a person,” Biao said. And, most often, that way is to earn top grades, land a well-paying job, buy an apartment, and find a similarly high-achieving spouse.
</p>
{% endblock %}