<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <link href="../../style/oxford/oxford.css" rel="stylesheet"/>
    <title>less frequent</title>
  </head>
  <body>
    <p>
      this is a sentence
    </p>
<section class="ox-dict-frame">
	<!-- dict name -->
  <section class="ox-dict-band">
		<span>
			Oxford Advanced Learner's Dictionary
		</span>
  </section>
  
  <!-- entry -->
  <section class="ox-dict-content">

  	<!-- headword -->
		<section class="ox-entry">
      <section class="ox-headword">
        <span>zodiac</span>
			</section>
      <section class="ox-pos">
        <span>noun</span>
      </section>
		</section>

		<!-- pronounciation -->
		<section class="ox-phonetics">
			{% include 'icons/dict-ox-phonetic.htm' %}
			<section>
  			<span>/ˈzəʊdiæk/</span>  
			</section>
		</section>

		<!-- sense  -->
		<section class="ox-sense">
  		<section class="ox-sense-num">
  			<span>1</span>
  		</section>
  		<section class="ox-sense-specs">
  			<!-- ox-def-gram: to align def and syn sections -->
  			<section class="ox-def-gram">
  				<!-- optional sensetop -->
  				<span class="ox-sensetop">
  						the zodiac
  				</span>
  				<!-- optional grammar -->
  				<span class="ox-sense-gram">
  						[singular]
  				</span>
  				<span class="ox-sense-def">
  						the imaginary area in the sky in which the sun, moon and planets appear to lie, and which has been divided into twelve equal parts, each with a special name and symbol
  				</span>
  			</section>
  			<!-- optional synonyms -->
  		</section>
		</section>
		
		<!-- exmaples -->
		<section class="ox-examples">
    	<ul class="ox-example">
    		<li>the <strong>signs of the zodiac</strong></li>
    	</ul>
  	</section>

  	<!-- optional topics section-->
  	<section class="ox-topics">
    		<span class="prefix">topics</span>
    		<span class="topic-name">Space</span>
    		<span class="topic-cefr">c1</span>
    </section>

    <!-- optional wordfinder exmaples -->
    <section class="ox-extra">
    	<section class="ox-extra-heading">
    		<span><span style="color: #F08B6E">▼</span> Wordfinder</span>
    	</section>
    	<section class="ox-extra-cont">
    		<p>
    		<span style="font-weight: 600; color: #0069B4;">word</span>
    		<span class="ox-extra-dot">•</span>
    		</p> 
    	</section>
    </section>

    <!-- optional collocation -->
    <section class="ox-extra">
    	<section class="ox-extra-heading">
    		<span><span style="color: #F08B6E">▼</span> Collocations</span>
    	</section>
    	<section class="ox-extra-cont">
    		<!-- one section -->
    		<p class="ox-extra-col-cato">
    			adjective
    		</p>
    		<p style="margin-top: 0; margin-bottom: .5rem">
    		<span class="ox-extra-dot">•</span>
    		<span>alcohol</span>
    		</p> 

    		<!-- another section -->
    		<p class="ox-extra-col-cato">
    			verb + abuse
    		</p>
    		<p style="margin-top: 0; margin-bottom: .5rem">
    		<span class="ox-extra-dot">•</span>
    		<span>prevent</span>
    		<span class="ox-extra-dot">•</span>
    		<span>stop</span>
    		</p>
    	</section>
    </section>

    <!-- optional extra example -->
    <section class="ox-extra">
	    <section class="ox-extra-heading">
	      <span><span style="color: #F08B6E">▼</span> Extra Examples</span>
	    </section>
	    <section class="ox-extra-cont">
	    	<ul>
	    		<li>allegations of child abuse</li>
	    		<li>six cases of suspected child abuse</li>
	    		<li>allegations of human rights abuses</li>
	    	</ul>
	    </section>
	  </section>

    <!-- word origin -->
	  <section class="ox-extra">
	    <section class="ox-extra-heading">
	      <span><span style="color: #F08B6E">▼</span> Word Origin</span>
	    </section>
	    <section class="ox-extra-cont">
	    	<p>
	      late Middle English: from Old French zodiaque, via Latin from Greek zōidiakos, from zōidion ‘sculptured animal figure’, diminutive of zōion ‘animal’.
	    	</p>
	    </section>
	  </section>

</section>
  </body>
</html>
