<section class="ox-dict-frame">
	<!-- dict name -->
  <section class="ox-dict-band">
		<span>
			Oxford Advanced Learner's Dictionary
		</span>
  </section>

  <section class="ox-dict-content">
  {# words #}
  {% block entries %}{% endblock %}
	</section>

</section>