<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../../style/oxford/oxford.css">
	<title>sensetop</title>
</head>
<body>
<section class="ox-extra">
	<section class="ox-extra-heading">
		<span><span style="color: #F08B6E">▼</span> Wordfinder</span>
	</section>
	<section class="ox-extra-cont">
		<p>
			<span style="font-weight: 600; color: #0069B4;">word</span>
			<span style="color: #6F6F6F; padding: 0rem 0.25rem; font-weight: 600">•</span>
		</p> 
	</section>
</section>
</body>
</html>