<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../style/news.css">
    <link rel="stylesheet" href="../../style/newyorker/new-yorker.css">
    <link rel="stylesheet" type="text/css" href="../../style/oald.css">
    <link rel="stylesheet" type="text/css" href="../../style/mw.css">
    <title>{{ title }}</title>
</head>
<body>
    {% block content %}{% endblock %} 	
</body>
</html>
