<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>oxford</title>
  <link rel="stylesheet" type="text/css" href="../../../style/oxford.css">
</head>
<body>

    <!-- ========== COLLOCATION ======= -->
    <section class="ox-extra">
      <section class="ox-extra-heading">
        <span>
          <span style="color: #F08B6E">▼</span> Collocations
        </span>
      </section>

      <section class="ox-extra-cont">
      <!-- one section -->
      <p class="ox-extra-col-cato">
        adjective
      </p>
      <p style="margin-top: 0; margin-bottom: .5rem">
        <span class="ox-extra-dot">•</span>
        <span>alcohol</span>
      </p> 

      <!-- another section -->
      <p class="ox-extra-col-cato">
        verb + abuse
      </p>
      <p style="margin-top: 0; margin-bottom: .5rem">
        <span class="ox-extra-dot">•</span>
        <span>prevent</span>
        <span class="ox-extra-dot">•</span>
        <span>stop</span>
      </p>
      </section>
    </section>

    <!-- ============ GRAMMAR ========= -->
    <span class="ox-sense-gram">
      [singular]
    </span>

    <!-- ============ SENSETOP ========= -->
    <span class="ox-sensetop">
      the zodiac
    </span>

    <!-- ============ SYNONYM ========== -->
    <section class="ox-synonym">
      <small>synonym</small>
      <span>words</span>
    </section>

    <!-- ============ STOPICS ========== -->
    <section class="ox-topics">
      <span class="prefix">topics</span>
      <span class="topic-name">Space</span>
      <span class="topic-cefr">c1</span>
    </section>

    <!-- =========== WORDFINDER ======== -->
    <section class="ox-extra">
      <section class="ox-extra-heading">
        <span><span style="color: #F08B6E">▼</span> Wordfinder</span>
      </section>
      <section class="ox-extra-cont">
      <p>
        <span style="font-weight: 600; color: #0069B4;">word</span>
        <span style="color: #6F6F6F; padding: 0rem 0.25rem; font-weight: 600">•</span>
      </p> 
      </section>
    </section>
</body>
</html>