/* Google Color Schemes */
.standard {
  color: #46bdc6;
  color: #fbbc04;
  color: #e06666;
  color: #ea4335;
  color: #ff6d01;
  color: #93c47d;
  color: #34a853;
  color: #c27ba0;
  color: #a64d79;
}