* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


.mw-header {
	/*border: 1pt red solid;*/
	height: 50px;
	padding-left: 12px;
	padding-right: 2px;
	margin: 0 auto;
	background-color: #305f7a;
}

/**
 * this frame to contain logo and logo text
 * so that they will be left adjusted
 * otherwise they will be centered 
 **/
.mw-header-frame {
	display: flex;
	align-items: center;
	width: 140px;
}

.mw-logo {
	/* must be 8 px higher than header */
	height: 58px;
	background-color: transparent;
	padding: 0;
	margin: 0;
}

/**
 * since1828 text and num frame
 * use margin to lift its position
 * becasue my version lacks other
 * 2 elements to automatically align
 * all items to a higher center point*/
.mw-brand-history {
	color:  #fff;
	font-family: Times,serif;
	font-size: 14px;
	display: flex;
	line-height: 1;
	align-items: center;
	margin: 0 4px 4px 4px;
	/*max-width: 45px;*/

}

.since1828-text {
	text-transform: uppercase;
	margin-right: 4px;
}


/**
 * scrollable webster entry content 
 * */
.mw-entry-content {
 	height: 350px;
 	overflow-y: scroll;
 	margin: 10px 0;
}

.mw-headword {
 	font-family: Times, serif;
 	font-size: 30px;
 	font-weight: 700;
 	color: #303336;
 	letter-spacing: 1px;
 	margin: 0 4px;
}

.mw-pos {
 	font-family: Times, serif;
 	font-size: 18px;
 	font-weight: 700;
 	letter-spacing: .3px;
 	color: #4a7d95;
}

.mw-pro-frame,
.mw-morphs-frame {
 	font-size: 14px;
 	font-family: Helvetica, sans-serif;
 	margin: 10px 0;
 	color: #225f73;
 	padding: 0 4px;
}

.mw-audio-icon {
	vertical-align: middle;
}

.mw-morph {
  font-family: sans-serif;
  font-weight: 700;
  color: #303336;
}


/**
 * grammar, e.g transitive verb, uncountable
 */

.mw-grammar {
  padding-left: 4px;
  margin-top: .5rem;
}

.mw-grammar span {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: .2px;
  line-height: 20px;
  text-decoration: underline #97bece solid;
  color: #225f73;
}
/**
 * definition and notes such as 
 * did you know, History, Examples
 */

.mw-def-header, 
.did-you-know-header,
.mw-1s-header,
.mw-1st-use-header,
.mw-etymology-header,
.mw-word-history-header {
	font-size: 16px;
	font-weight: 600;
 	font-family: sans-serif;
 	color: #265667;
 	margin: 25px 0 5px 0;
 	padding: 0 4px;
}

.mw-def, 
.did-you-know-content,
.mw-1st-use-content,
.mw-etymology-content,
.mw-word-history-content {
	font-family: sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #303336;
	padding: 0 4px;
	line-height: 18px;
	letter-spacing: .2px;
}

.mw-1st-use-refback {
  color: #265667;
  text-decoration: underline #97bece solid;
}

/**
 * special multi-def style
 */
.mw-multi-def-frame {
  display: flex;
  align-items: baseline;
  padding-left: 4px;
  margin: 4px 0;
}

.mw-multi-def-long-frame,
.mw-multi-def-short-frame {
  display: flex;
  flex-direction: column;
}

.mw-multi-def-short-frame section {
  margin: 3px 0;
}

.mw-multi-def-order,
.mw-multi-def-sense-order {
  font-weight: 700;
  font-size: 16px;
  font-family: sans-serif;
  margin-top: 4px;
  margin-right: .8rem;
  padding-top: 4px;
}

.mw-multi-def-long-def {
  margin: 2px 0;
  font-family: sans-serif;
  display: flex;
  align-items: baseline;
}
.mw-multi-def-short-syns {
  text-transform: uppercase;
  text-decoration: underline #97bece solid;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #265667;
  display: inline-block;
  margin-right: 2px;
}
.mw-multi-def-short-eg {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #225f73;
}

.mw-multi-def-short-src {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: #525a5b;
}

.mw-1s-content,
.mw-recent-example-content {
	font-family: sans-serif;
	font-size: 14px;
	color: #225f73;
	font-weight: normal;
	padding: 0 4px;
	margin: 10px 0;
	line-height: 18px;
}

.mw-example-hr {
	height: 2px;
	background-color: #cbe1ea;
	width: 160px;
	margin: 30px 4px;
}

.mw-recent-example-header {
	font-size: 14px;
	font-weight: 600;
 	font-family: sans-serif;
 	color: #265667;
 	margin: 10px 0;
 	padding: 0 4px;
}

.mw-recent-example-source {
	color: #525a5b;
	font-family: sans-serif;
	font-size: 13px;
	padding: 0 4px;
	line-height: 18px;
}

.mw-root {
	display: inline-block;
	color: #265667;
	text-transform: uppercase;
	text-decoration: underline #97bece;
}
