/*
** CSS for mw thesaurus
*/

.mwth-header {
  font-family: serif;
  font-size: 24px;
  font-style: italic;
  color: #4a7d95;
}

/*
** General block frame for sense num, def, syns, related, antis
*/
.mwth-blocks-frame {
  display: flex;
  align-items: baseline;
}

/*
** frame for def syns, related, anti
*/
.mwth-syns-blocks-frame {
  display: flex;
  flex-direction: column;
}

.mwth-syns-content {
  font-family: sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #265667;
  line-height: 18px;
}
