/*
** CSS for mw thesaurus
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.mwth-entry-content {
  margin: 10px 0;
}

.mwth-sense-num {
  margin: 0 .4rem 0 .2rem;
  font-family: sans-serif;
}

.mwth-syn-block-header {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #265667;
  margin: 10px 0;
}

.mwth-header {
  font-family: serif;
  font-size: 24px;
  font-style: italic;
  color: #4a7d95;
}

/*
** General block frame for sense num, def, syns, related, antis
*/
.mwth-blocks-frame {
  display: flex;
  align-items: baseline;
}

.mwth-syns-block-frame {
  margin-top: .5rem;
}

/*
** frame for def syns, related, anti
*/
.mwth-syns-block-frame {
  display: flex;
  flex-direction: column;
}

.mwth-syns-content {
  font-family: sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #265667;
  line-height: 18px;
}

.mwth-syns-list li {
  display: inline;
}

/* usg or vrt label */
.mwth-syns-label {
  color: #303336;
}
