
/* change some default styles */

* {
  box-sizing: border-box;
}

p {
  font-family: sans-serif;
  font-size: 15pt;
  text-align: left;
  margin: 1.2em 5px;
  line-height: 1.6em;
}

ruby {
  border-top: 0.5pt solid #C0C0C0;
  border-radius: 0.3em;

}

ruby rt {
  font-size: 8pt;
  text-align: center;
  color: #4c566a;
  /* border-bottom:1pt solid #C0C0C0; */
  /* border-radius: 0.3em; */
}

sup {
  font-size: 9pt;
  /* font-weight: bold; */
  /* color: #5E81AC; */
}

a {
  color:#3d7e9a;
  font-size: 12pt;
  text-decoration: none;
  border-bottom: 1px solid #5e81ac;
}



section p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 12pt;
  line-height: normal;
  word-wrap: break-word;
  margin: 4px 0;
  padding-bottom: 0.5em;
}

hr {
  margin: 0.5em 0;
  color: #4C566A;
}

ol {
  line-height: normal;
  list-style-type: decimal;
  padding: 0.1em 0.1em 0.1em 1.5em;
  margin: 0;

}

ol li {
  font-family: Georgia, Times, serif;
  font-size: 12pt;
  word-wrap: break-word;
  color: #5E81AC;
  line-height: normal;
  padding-left: 0;
  margin: 1px;
  padding-top: 0;   
}


u {
  text-decoration: none;
  /* border-bottom: 1pt solid #81A1C1; */
  background-color: #88C0D0;
  border-radius: 0.2em;
  /* border: none; */
}


/* ------------------------------------------- */
/* wikipedia */
.wiki {
  background-color: #D8DEE9;
  /* background-color: #f8f9fa; */
  border: 1pt solid #4c566a;
  padding: 0 0.25rem;
  margin: 1px;
  line-height: normal;
}

.wiki-heading {
  padding: 0;
  margin: 0;
}
.wiki-title {
  /* display: block; */
  font-variant: small-caps;
  font-family: Georgia,serif;
  font-weight: bold;
  font-size: 12pt;
  margin: 0;
  padding: 0;
}

.wiki-entry {
  border-bottom: 0.5pt solid #4C566A; 
  font-size: 11pt; 
  font-weight: bold;
  margin-bottom: 1px; 
  padding-bottom: 1px;
}

.wiki-content {
  padding: 0;
  margin: 1px;
  height: 150px;
  overflow-y: scroll;
  scrollbar-color: #81A1C1;
  scrollbar-width: thin;    
}

.wiki-content>p {
  margin-top: .3rem;
}

.wiki-with-large-img {
  min-height: 300px;
}



.wiki-large-img {
  display: flex;
  flex-flow: column;
  margin: .2rem;
/*    border: 1pt blue dashed;*/
}

.wiki-large-img figcaption, .wiki-small-img figcaption {
  font-family: sans-serif;
  font-size: 13px;
  font-style: italic;
  padding: 3px;
  text-align: center;
  /*background-color: #222222;*/
  color: #222;
}
.wiki-large-img img {
  display: block;
  width: 100%;
  height: auto;
}

.wiki-with-small-img {
  min-height: 200px;
}
.wiki-with-small-img>p {
  clear: left;
}
.wiki-small-img {
  float: right;
  /*clear: right;*/
  width: 100px;
  height: auto;
  margin: 5px 1px;
  /*border: 1pt green dashed;*/
}

.wiki-small-img img {
  width: 100%;
  height: auto;
}
.wiki u {
  text-decoration: none;
  border-bottom: 0.5pt solid #4C566A;
  background-color: unset;
  border-radius: unset;
}

/* ------------------------------------------- */

/* ------------------------------------------- */
/* reference/footnote*/
.ft {
  padding-left: 0.2em;
  border: 1pt solid #88C0D0;
  margin: 2px;
  padding: 0.1em 0.1em 0.1em 0.2em;
}

.ft-title {
  color: #88C0D0;
  font-family: Verdana, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 12pt;
  padding: 0;
  margin: 0px;
}

.ft-links {
  height: 120px;
  overflow-y: scroll;
  scrollbar-color: #81A1C1;
  scrollbar-width: thin;   
}


/* editor note: murmurs */
.note {
  border: 1pt solid #B48EAD;
  padding-left: 0.2rem;
  line-height: normal;
  margin: 1px;
}


.note-title {
  font-family: Verdana, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 12pt;
  color: #B48EAD;
  padding: 0;
  margin: 0;
}


.note-content {
  height: 125px;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.note-short {
  height: auto; 
  overflow-y: unset;
}


.tips {
  border: 1pt solid #ebcb8b;
  padding-left: 0.2rem;
  line-height: normal;
  margin: 1px 0px 10px 0px;
}

.tips-title {
  font-family: Verdana, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 12pt;
  color: #ebcb8b;
  padding: 0;
  margin: 0;
}

.illus {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  /*border: 1pt limegreen dashed;*/
  margin: 1rem 0rem;
}

.illus img {
  width: 100%;
  padding: .2rem;
}

.illus figcaption {
  font-family: serif;
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  color: #333;
}