<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <link href="../../style/news.css" rel="stylesheet"/>
    <link href="../../style/blbw.css" rel="stylesheet"/>
    <link href="../../style/mw.css" rel="stylesheet"/>
    <title>{{title}}</title>
  </head>
  <body>
    {% include 'header.j2' %}
    {% block content %}{% endblock %}
  </body>
</html>
