{# =================== WIKI ================ #}
<!-- wikipedia -->
<!-- wiki no img -->
{# wiki symbol #}
{%- set wiki_symbol -%}
<sup>❉</sup>
{% endset %}

{# wiki with pure text #}
{# contents should be a list [wk_1, wk_2, ...] #}
{% macro wiki_text(contents) %}
<section class="wiki">
  <section class="wiki-heading">
    ❉<span class="wiki-title">
      WikipediA
    </span>
  </section>
  {% set item_num = contents | length %}
  {% if item_num > 1 %}
  <section class="wiki-content">
  {% else %}
  <section class="wiki-content wiki-txt">
  {% endif %}
    {% for content in contents %}
      <p class="wiki-entry">{{ content['entry'] }}</p>
      {% for para in content['paras'] %}
        <p>
          {{ para }}
        </p>
      {% endfor %}
    {% endfor %}
  </section>
</section>
{% endmacro %}

{# wiki with small-img #}
{# contents should be a list [wk_1, wk_2, ...] #}
{% macro wiki_small_img(contents) %}
<section class="wiki">
  <section class="wiki-heading">
    ❉<span class="wiki-title">
      WikipediA
    </span>
  </section>

  <section class="wiki-content wiki-with-small-img">
    {% for content in contents %}
      <p class="wiki-entry">{{ content['entry'] }}</p>
      <figure class="wiki-small-img">
        <img src="{{ content['img'][0] }}" alt="wiki-figure">
        <figcaption>{{ content['img'][1] }}</figcaption>
      </figure>
      {% for para in content['paras'] %}
        <p>
          {{ para }}
        </p>
      {% endfor %}
    {% endfor %}
  </section>
</section>
{% endmacro %}

{# wiki with large-img #}
{% macro wiki_large_img(content) %}
<!-- wiki with large img -->
<section class="wiki">
  <section class="wiki-heading">
    ❉<span class="wiki-title">
      WikipediA
    </span>
    <p class="wiki-entry">{{ content['entry'] }}</p>
  </section>

  <section class="wiki-content wiki-with-large-img">
    {% for para in content['paras'] %}
    <p>
      {{ para }}
    </p>
    {% endfor %}
    <figure class="wiki-large-img">
      <img src="{{ content['img'][0] }}" alt="table1">
      <figcaption>{{ content['img'][1] }}</figcaption>
    </figure>
  </section>
</section>
{% endmacro %}


{# =================== NOTE ================ #}
<!-- note jinja -->

{# murmur symbol #}
{%- set note_symbol -%}
<sup style="color: #B48EAD;">㋡</sup>
{% endset %}


{# note number marks #}
{% set notemarks = {
  '1': '❶', '2': '❷',
  '3': '❸', '4': '❹',
  '5': '❺', '6': '❻',
  '7': '❼', '8': '❽',
  '9': '❾', '0': '⓿',
  '10': '❿', '11': '⓫',
  '12': '⓬', '13': '⓭'
  }
%}


{% macro murmurs(paras, short=true) %}
<section class="note">
  <section class="note-title">
    <span>㋡Murmurs</span>
  </section>
  {% if short %}
  <section class="note-content note-short">
  {% else %}
  <section class="note-content">
  {% endif -%}
    {%- for para in paras -%}
      <p>{{ para }}</p>
    {%- endfor %}
  </section>
</section>
{% endmacro %}


{# ================ FOOTNOTE =========== #}
<!-- footnote jinja -->
{%- macro ftnum(n) -%}
<sup style="color: #81A1C1">[{{n}}]</sup>
{% endmacro %}

{%- macro footnote(urls, start=1, unscroll=true) -%}
<!-- footnote -->
<section class="ft">
    <span class="ft-title">↸Footnote</span>
    {% if unscroll %}
    <section class="ft-links note-short">
    {% else %}
    <section class="ft-links">
    {% endif %}
      <ol start="{{start}}">
        {% for url in urls -%}
        <li>
          {{ url }}
        </li>
        {% endfor %}
      </ol>
    </section>
</section>
{% endmacro -%}


{# ================ CAPTION =========== #}
{% macro illustration(img, caption=None, credit=None, source=None, pub_date=None) %}
{% set credit_styles = {
    'ny': 'ny-illus-credit',
    'bl': 'blbw-illus-credit'
  } 
%}
<figure class="illus">
  <img src="{{img}}" alt="illustration image">
  {% if source == 'bl' %}
    <span class="blbw-illus-issue-date">Featured in <em class="blbw-illus-magazine-name">Bloomberg Businessweek</em>, {{pub_date}}</span>
  {% endif %}
  {% if caption %}
    <figcaption>{{caption}}</figcaption>
  {% endif %}
  {# credit style for new yorker #}
  {% if source == 'bl' %}
    <span class="blbw-illus-credit">{{credit}}</span>
  {% elif source == 'ny' %}
    <span class="ny-illus-credit">{{credit}}</span>
  {% endif %}
</figure>
{% endmacro %}

{# ================ OTHERS =========== #}
<sup style="color: #BF616A;">☠</sup>
<section class="tips">
    <span class="tips-title">⚙Tips</span>
    <p>

    </p>
</section>
  </body>
</html>
