<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../../style/oxford/oxford.css">
	<title>sensetop</title>
</head>
<body>
<section class="ox-extra">
	<section class="ox-extra-heading">
		<span><span style="color: #F08B6E">▼</span> Collocations</span>
	</section>
	<section class="ox-extra-cont">
		<!-- one section -->
		<p class="ox-extra-col-cato">
			adjective
		</p>
		<p style="margin-top: 0; margin-bottom: .5rem">
		<span class="ox-extra-dot">•</span>
		<span>alcohol</span>
		</p> 

		<!-- another section -->
		<p class="ox-extra-col-cato">
			verb + abuse
		</p>
		<p style="margin-top: 0; margin-bottom: .5rem">
		<span class="ox-extra-dot">•</span>
		<span>prevent</span>
		<span class="ox-extra-dot">•</span>
		<span>stop</span>
		</p>
	</section>
</section>
</body>
</html>