{# etymology #}
<section class="mw-etymology">
  <p class="mw-etymology-header">
    History and Etymology for <em>{{ word['entry'] }}</em>
  </p>
  <p class="mw-etymology-content">
    {{ word['etymology'] }}
  </p>
</section>
