{# header of mw dictionary #}
			<!-- header frame to hold brand -->
			<section class="mw-header-frame">
				<section class="mw-logo">
          {% include 'mw-brand.html' %}
				</section>

				<section class="mw-brand-history">
					<span class="since1828-text">since</span>
					<span class="since1828-num">1828</span>
				</section>
			</section>
