{# history block #}
<section class="mw-word-history-frame">
   <p class="mw-word-history-header">
     The History of <em>{{ word['entry'] }}</em>
   </p>
   <p class="mw-word-history-content">
     {{ word['history'] }}	
   </p>
</section>
