{#
Dict marcro for mw words.
No need to prepare for mutil-senses words because
only the relevant one sense will be used. 
#}
{#
Word data structure:
word = {
'entry': 'word',
'pos': 'pos',
'pro': 'pro',
'def': 'definition',
'example-1s': 'example-1s',
'recent': [
{'sentence': '', 'source': ''},
],
'did-you-know': '',
'1st-use': '',
'etymology': ''
}
#}

{% macro mw_dict(word) %}
  <!-- Frame for Webster -->
  <section class="mw-frame">
  
    <!-- header, fixed position -->
    <section class="mw-header">
      {% include 'dicts/webster/header.j2' %}
    </section>

    <!-- content; scrollable  -->
	  <section class="mw-entry-content">
    
		  <!-- headword and pos -->  
		  {% include 'dicts/webster/headword.j2' %}
    
		  <!-- pronounciation  -->
      <section class="mw-pro-frame">
        {% include 'dicts/webster/pron.j2' %}
      </section>

      {# morphs and their pronounciations #}
      {% if word['morphs'] %}
        {% include 'dicts/webster/morphs.j2' %}
      {% endif %}

      <!-- webster definition -->
		  <section class="mw-def-frame">
        <p class="mw-def-header">
          Definition of
          <em>{{ word['entry'] }}</em>
        </p>

        <!-- grammar for the entry -->
        {% if word['grammar'] %}
          {% include 'dicts/webster/grammar.j2' %}
        {% endif %}

        <!-- def block; details in template -->
        {% include 'dicts/webster/def.j2' %} 
      </section>

		  <!-- example -->
		  <section class="mw-example-fram">
        {% include 'dicts/webster/examples.j2' %}
      </section>

      <!-- did you know; optional -->
      {% if word['did-you-know'] %}
        {% include 'dicts/webster/didyouknow.j2' %}
      {% endif %}

		  <!-- first use -->
		  <section class="mw-1st-use">
			  <p class="mw-1st-use-header">
				  First Known Use of <em>{{ word['entry'] }}</em>
			  </p>
			  <p class="mw-1st-use-content">
				  {{ word['1st-use'] }}
			  </p>
		  </section>

		  <!-- etymology; optional -->
      {% if word['etymology'] %}
        {% include 'ditcs/webster/etymology.j2' %}
      {% endif %}
    </section>
  </section>
{% endmacro %}
