<!-- syns blocks templates -->

{% macro syns_section(word, stype='syn') %}
  {% set syn_num = word[stype][stype+'-list']|length %}
  <section class="mwth-syns-block-frame">
    <section class="mwth-syn-block-header">
      <p>
        {{ word[stype][stype+'-head']}}<em>{{ word['entry'] }}</em>
      </p>
    </section>

    <section class="mwth-syns-content">
     <!-- figure out how to align list items on the same line -->
     <ul class="mwth-syns-list">
       {% for i in range(syn_num) %}
         {% if i < syn_num - 1 %}
           <li>{{ word[stype][stype+'-list'][i] }}</li><span class="mwth-syns-label">,</span>
         {% else %}
           <li>{{ word[stype][stype+'-list'][i] }}</li>
         {% endif %}
       {% endfor %}
     </ul>
    </section>
  </section>
{% endmacro %}

{% if word['syn'] %}
  {{ syns_section(word, stype='syn') }}
{% endif %}

{% if word['rel'] %}
  {{ syns_section(word, stype='rel') }}
{% endif %}

{% if word['ant'] %}
  {{ syns_section(word, stype='ant') }}
{% endif %}

{% if word['near'] %}
  {{ syns_section(word, stype='near') }}
{% endif %}

{% if word['phrase'] %}
  {{ syns_section(word, stype='phrase') }}
{% endif %}
