<!-- syns blocks templates -->
{% if word['syns'] %}
  <section class="mwth-syns-block-frame">
    <section class="mw-recent-example-header">
      <p>
        Synonyms for <em>{{ word['entry'] }}</em>
      </p>
    </section>

    <section class="mwth-syns-content">
      <!-- figure out how to align list items on the same line -->
      <ul class="mwth-syns-list">
        {% for syn word['syns'] %}
          <li>{{ syn }}</li>
        {% endfor %}
      </ul>
    </section>
  </section>
{% endif %}

{% if word['rels'] %}
  <section class="mwth-syns-block-frame">
    <section class="mw-recent-example-header">
      <p>
        Words Realted to <em>{{ word['entry'] }}</em>
      </p>
    </section>

    <section class="mwth-syns-content">
      <ul class="mwth-syns-list">
        {% for rel word['rels'] %}
          <li>{{ rel }}</li>
        {% endfor %}
      </ul>
    </section>
  </section>
{% endif %}

{% if word['ants'] %}
  <section class="mwth-syns-block-frame">
    <section class="mw-recent-example-header">
      <p>
        Near Antonyms for <em>{{ word['entry'] }}</em>
      </p>
    </section>

    <section class="mwth-syns-content">
      <ul class="mwth-syns-list">
        {% for ant word['ants'] %}
          {{ ant }}
        {% endfor %}
      </ul>
    </section>
  </section>
{% endif %}
