<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="../../../style/webster.css">
  <title>webster</title>
</head>
<body>

	<p>
		this is for svg brand to work
	</p>
	<!-- Frame for Webster -->
	<section class="web-frame">
		<!-- header, fixed position -->
		<section class="web-header">
			<!-- header frame to hold brand -->
			<section class="web-header-frame">
				<section class="web-logo">
          {% include 'icons/dict-web-brand.html' %}
				</section>
				
				<section class="web-history">
					<span class="since1828-text">since</span>
					<span class="since1828-num">1812</span>
				</section>
			</section>
		</section>

		<!-- content; scrollable  -->
		<section class="web-entry-content">
			<!-- headword and pos -->
			<section class="web-headword-frame">
				<span class="web-headword">
					peloton
				</span>
				<span class="web-pos">
					noun
				</span>
			</section>

			<!-- pronounciation  -->
			<section class="web-pro-frame">
				<span class="web-syllables">
						pel·&ZeroWidthSpace;o·&ZeroWidthSpace;ton
				</span>
				<span class="web-pro-style-break">|</span>
				<span class="web-pro-first-slash">\</span>
				<span class="web-pro">
						 ˌpe-lə-ˈtän
				</span>
				<span class="web-audio-icon">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="9px" height="9px" viewBox="0 0 26 26" version="1.1" data-inject-url="https://www.merriam-webster.com/images/svg/audio.svg" class="svg replaced-svg">
							<title>How to pronounce peloton (audio)</title>
	  					<defs>
	    				<linearGradient id="grad3" x1="0%" y1="0%" x2="0%" y2="100%">
				      <stop offset="0%" style="stop-color:rgb(38,86,103);stop-opacity:1"></stop>
	      			<stop offset="100%" style="stop-color:rgb(15,56,80);stop-opacity:1"></stop>
	    				</linearGradient>
	    				<linearGradient id="grad1" x1="0%" y1="0%" x2="0%" y2="100%">
	      			<stop offset="0%" style="stop-color:rgb(231,240,244);stop-opacity:1"></stop>
	      			<stop offset="100%" style="stop-color:rgb(203,225,234);stop-opacity:1"></stop>
	    				</linearGradient>
	  					</defs>
	    				<g class="Audio" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
	        		<g class="Icon/AudioPron">
	            	<g class="Audio">
	               <circle class="outline Oval" fill="url(#grad3) #265667" cx="13" cy="13" r="13"></circle>
	                <polygon class="logo Path-2" stroke="#FFFFFF" fill="#FFFFFF" points="6 10.5031797 6 15.4563465 9.37102011 15.4563465 13 18 13 8.02789307 9.5 10.5031797"></polygon>
	                <path class="logo2 Path-3" d="M16,8.5 C17.4887382,10.0718463 18.2331073,11.569707 18.2331073,12.993582 C18.2331073,15.1293945 17.1165537,16.4498291 16,17.5894775" stroke="#FFFFFF"></path>
	                <path class="logo2 Path-4" d="M18.0189209,6.5 C20.0989176,8.3652264 21.138916,10.5318931 21.138916,13 C21.138916,15.4681069 20.0723674,17.6756672 17.93927,19.6226807" stroke="#FFFFFF"></path>
	            		</g>
	        			</g>
	    				</g>
						</svg>
				</span>
				<span class="web-pro-punct">,</span>
				<span class="web-pro"> ˈpe-lə-ˌtän</span>
				<span class="web-pro-last-slash">\</span>
			</section>

			<!-- webster definition -->
			<section class="web-def-frame">
				<p class="web-def-header">
					Definition of
					<em>peloton</em>
				</p>
				<p class="web-def">
						<strong>:</strong>
					the main body of riders in a bicycle race
				</p>
			</section>

			<!-- example -->
			<section class="web-example-fram">
				<section class="web-example-1s">
					<p class="web-1s-header">
						Examples of <em>peloton</em> in a Sentence
					</p>
					<p class="web-1s-content">
						<strong>//</strong> He broke away from the <em>peloton</em> and sprinted into the lead.
					</p>
					<!-- separate two example sections -->
					<section class="web-example-hr">
					</section>
					<p class="web-recent-example-header">
						Recent Examples on the Web
					</p>
					<p class="web-recent-example-content">
						<strong>//</strong> On Tuesday, during stage four, the <em>peloton</em> halted the race for about a minute in a silent protest for safer racing conditions.
					</p>
					<p class="web-recent-example-source">
						— Pierre Bairin And Lorraine Poupon, <em>CNN</em>, 30 June 2021
					</p>
					<p class="web-recent-example-content">
						<strong>//</strong> On Tuesday, during stage four, the <em>peloton</em> halted the race for about a minute in a silent protest for safer racing conditions.
					</p>
					<p class="web-recent-example-source">
						— Ryan Gaydos, <em>Fox News</em>, 28 June 2021
					</p>
				</section>
			</section>

			<!-- did you know -->
			<section class="did-you-know">
				<p class="did-you-know-header">
					Did you know?
				</p>
					<p class="did-you-know-content">
					If you've ever watched the Tour de France on television, you've seen the peloton, the brightly colored pack of riders making up the central group. You may have also gained some inadvertent insight into the word itself, which as you may have guessed is French in origin. In French, "peloton" literally means "ball," but it is most often used with the meaning "group." It's frequently used in the bicycling context, just as in English, but it can also refer to a group in a marathon or other sporting event. French <em>peloton</em> can also mean "squad" or "platoon," and since we’ve told you that you probably won’t be too surprised to learn that it is also the source of our word <em>platoon</em>.
				</p>
			</section>

			<!-- first use -->
			<section class="web-1st-use">
				<p class="web-1st-use-header">
					First Known Use of <em>peloton</em>
				</p>
				<p class="web-1st-use-content">
					1951, in the meaning defined above
				</p>
			</section>

			<!-- etymology -->
			<section class="web-etymology">
				<p class="web-etymology-header">
					History and Etymology for <em>peloton</em>
				</p>
				<p class="web-etymology-content">
					French, literally, ball — more at <span class="web-root">platoon</span>
				</p>
			</section>


		</section>
	</section>
</body>
</html>
